

    <form method="post" class="form-signin">
        
        <IF login_fail>
            <div class="alert alert-danger">Error: {response}</div>
        </IF login_fail>
        
        <h2 class="form-signin-heading">Access Account</h2>
        
        <label for="email" class="sr-only">Email address</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        <!--
        <div class="checkbox">
        <label>
        <input type="checkbox" value="remember-me"> Remember me
        </label>
        </div>
        -->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        
    </form>